body {
	font-family: 'Open Sans', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.wrapp {
	max-width: 1031px; 
	margin: 0 auto; 
}

.margin-side {
	margin-left: -15px;
	margin-right: -15px;
}

h1.main-title {
	font-family: Georgia;
	font-size: 42px;
	color: #EAC407;
	font-weight: bold;
}

h2.title {
	font-size: 26px;
	color: #506278;
	font-weight: 600;
}

.title-lighten {
	font-size: 26px;
	color: #DFE4E7;
	font-weight: 700;
}

p {
	font-size: 16px;
	color: #70747D;
	font-weight: 300;
	line-height: 22.4px;
}

i {
	padding-right: 5px;
}

hr.style {
	border-top: 2px solid #E9EDF0;
}

.paragraph-lighten {
	font-size: 16px;
	color: #DFE4E7;
	font-weight: 400;
	line-height: 22.4px;
}

#home {
	background-image: url("../images/homecover.png");
	background-repeat: no-repeat;
	background-position: right top;
	background-size: cover;
	background-origin: content-box;
	padding-left: 15px;
	height: 765px;
	width: calc(100% - 90px);
}

.home-flex {
	display: flex;
}

#menu {
	position: relative;
	top: 20px;
	list-style-type: none;
}

.logo {
	width: 90px;
	padding-top: 20px;
}

.pitch {
	position: relative;
	top: 370px;
	margin-left: 214px;
	max-width: 540px;
}

#pitch {
	color: #f5f5f5;
	font-size: 22px;
	line-height: 30px;
	font-weight: 300;
}

.o-programa {
	margin-left: 319px;
	max-width: 603px;
	margin-bottom: 60px;
}

.programa-video {
	width: 560px;
	float: left;
}

.programa-video-intro {
	max-width: 390px;
	float: right;
	margin-top: 90px;
}

.navbar {
	color: #DFE4E7;
	text-decoration: none;
}

a.navbar:hover {
	color: #EAC407;
}

a.navbar:active {
	color: #EAC407;
}

a.link {
	font-weight: 700;
	color: #506278;
}

a.link:hover {
	text-decoration: none;
	color: #EAC407;
}

.margin-max {
	margin-top: 90px;
}

.margin-md {
	margin-top: 60px;
}

.margin-min {
	margin-top: 30px;
}

.circle {
	background-image: url("../images/circle.png");
	background-repeat: no-repeat;
	/*background-origin: content-box;*/
	background-position: top left;
	transform: translateX(-15px);
}

.form {
	font-size: 16px;
	color: #70747D;
	background-color: #F5F5F5 !important;
	border: 1px solid #70747D !important;
	border-radius: 20px 0px 0px 20px !important;
	/*height: 30px;*/
	padding-left: 12px;
	width: 430px;
}

.button1 {
	font-size: 16px;
	font-weight: 700 !important;
	color: #506278;
	background-color: #EAC407;
	border: 1px solid #EAC407;
	border-radius: 0px 20px 20px 0px !important;
	padding-left: 15px;
	padding-right: 20px;
}

/*a.button1:hover {
	text-decoration: none;
	color: #ffffff;
}*/

a.button2 {
	font-size: 16px;
	font-weight: 700;
	color: #506278;
	background-color: #EAC407;
	display: inline-block;
	/*border: 1px solid #EAC407;*/
	border-radius: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 6px;
	height: 38px;
}

a.button2:hover {
	text-decoration: none;
	color: #ffffff;
}

#servicos-e-cursos {
	background-color: #F5F5F5;
	padding-bottom: 230px;
}

#teste {
	background-color: #506278;
	height: 278px;
	margin-top: -139px;
}

.perfil {
	position: relative;
	padding-bottom: 60px;
}

.perfil::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	background-image: url("../images/alice.png");
	background-repeat: no-repeat;
	/*background-origin: content-box;*/
	background-position: top right;
	width: 515px;
	height: 602px;
}

#entrevista {
	background-color: #F5F5F5;
	padding-top: 60px;
	width: 93%;
}

.marcar-entrevista {
	margin-left: 150px;
}

.no-padding-left {
	padding-left: 0 !important;
}

.no-padding-right {
	padding-right: 0 !important;
}