@media screen and (max-width: 1024px) and (min-width: 320px){
	
	.home-flex {
		display: block;
	}

	#menu {
		display: none;
	}

	#home {
		width: auto;
		height: 304px;
	}
	
	#pitch {
		font-size: 16px;
		line-height: 22px;
	}
	
	.pitch {    
		padding: 0 15px;
		width: 90%;
		max-width: auto;
		margin: 0;
		top: 140px;
	}

	.logo img {
		width: 45px;
		margin-bottom: 10px;
	}

	h1.main-title {
		font-size: 32px;
	}


	h2.title {
	font-size: 24px;
	color: #506278;
	font-weight: 600;
	}

	.circle {
		padding: 0 15px;
		background-size: 240px;
		background-position: 0 260px;
	}

	.o-programa {
		margin-left: 15px;
	}

	.circle .margin-max {
		margin-top: 40px;
	}

	.programa-video-intro {
		margin-left: 60px;
		margin-top: 0px;
	}

	.programa-video iframe {
		width: 345px;
		padding-top: 20px;
		float: left;
		padding-bottom: 20px;
	}

	.margin-left {
		margin-left: 15px;
		/*margin-right: 15px;*/
		max-width: 324px;
	}

	.margin-md {
		margin-top: 20px;
	}

	.input-group {
		margin-top: 30px;
	}

	#teste {
	height: 300px;
	margin-top: -180px;
	}

	.perfil {
	padding-bottom: 380px;
	}

	.perfil::after {
	content: '';
	display: block;
    position: absolute;
    top: 585px;
    right: -21px;
	background-image: url("../images/alice.png");
	background-repeat: no-repeat;
	background-position: right;
	background-size: 334px;
	overflow: hidden;
	}

	.off {
		margin-left: 60px;
		max-width: 270px;
	}

	.marcar-entrevista {
		padding: 0 15px;
	}

	.margin-max {
		margin-top: 30px;
	}

	.midias {
		margin-top: 20px;
		margin-bottom: 30px;
		padding: 0 15px;
	}

	#entrevista {
		overflow: hidden;
		width: auto;
	}

}

@media screen and (max-width: 321px){

	.home-flex {
		display: block;
	}

	#menu {
		display: none;
	}

	p {
		margin-right: 10px;
	}

	#home {
		width: auto;
		height: 350px;
		margin-left: -15px;
		margin-right: -15px;
	}

	#pitch {
		font-size: 16px;
		line-height: 22px;
	}

	.pitch {    
		width: 90%;
	    max-width: auto;
	    margin: 0;
	    top: 140px;
	}

	.logo img {
		width: 45px;
		margin-bottom: 10px;
	}

	h1.main-title {
		font-size: 32px;
	}


	h2.title {
	font-size: 24px;
	color: #506278;
	font-weight: 600;
	}

	.circle {
		background-size: 240px;
		background-position: 0 260px;
	}

	.o-programa {
		margin-left: 15px;
	}

	.circle .margin-max {
		margin-top: 40px;
	}

	.programa-video-intro {
		margin-left: 60px;
		margin-top: 0px;
	}

	.programa-video iframe {
		width: 305px;
		padding-top: 20px;
		float: left;
		padding-bottom: 20px;
	}

	.margin-left {
		margin-left: 15px;
		max-width: 324px;
	}

	.margin-md {
		margin-top: 20px;
	}

	.input-group {
		margin-top: 30px;
		padding-right: 20px;
	}

	#teste {
	height: 350px;
	margin-top: -180px;
	}

	.perfil {
	padding-bottom: 380px;
	}

	.perfil::after {
	content: '';
	display: block;
    position: absolute;
    top: 590px;
    right: -3px;
	background-image: url("../images/alice.png");
	background-repeat: no-repeat;
	background-position: right;
	background-size: 304px;
	overflow: hidden;
	}

	.off {
		margin-left: 60px;
		max-width: 270px;
	}

	.marcar-entrevista {
		padding: 0 15px;
	}

	.margin-max {
		margin-top: 30px;
	}

	.midias {
		margin-top: 20px;
		margin-bottom: 30px;
	}

	.no-show {
		display: none;
	}

	.instagram {
	width: 115px;
	padding-bottom: 5px;
	}

	#entrevista {
		overflow: hidden;
		width: auto;
	}
}